@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-sans;
}
